<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <title>@ViewBag.Title Weather Forecast</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="~/Content/Site.css" />

</head>
<body>
    <header class="menu-flex-container">
        <div class="menu-flex-item">
            <a href="/Home" id="logo">
                <img src="~/Content/Images/weather.png" alt="Weather icon" />
                Weather App
            </a>
        </div>
        <div class="menu-flex-items-container">
            <ul>
                <li>@Html.ActionLink("Weather", "Index", "Home")</li>
                <li>@Html.ActionLink("Configure Cities", "Configure", "ConfigureCities")</li>
                <li>@Html.ActionLink("City search history", "CityLog", "Home")</li>
            </ul>
        </div>
    </header>

    <div class="container body-content">
        @RenderBody()
    </div>
        <footer class="footer-flex-container">
            <div id="footer-info">
                <p>Weather forecast company </p>
                <p>With this U can always find actual weather forescat</p>
                <p>&copy; @DateTime.Now.Year –  All Rights Reserved.</p>
            </div>
            <div id="footer-contact">
                <p>03058, Ukraine</p>
                <p>Kiev, prosp. Kosmonavta Komarova 1</p>
                <p>(044)406-79-01</p>
            </div>
        </footer>   

    @Scripts.Render("~/bundles/jquery")
    @*@Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)
</body>
</html>
